@charset "utf-8";
/* CSS Document */

#top {
position:relative;
background-color:#9FF;
height:25px;
padding-top:5px;
line-height:5px;
overflow:hidden;
z-index:-1;
width:100%;
border-top:none;
font-size:9px;
border-bottom:none;


}
.toptext {width:100%;text-align:right; padding-right:5px;}

